.form-section{
    width:50%;
    margin:30px auto;
    background:white;
    padding:20px;
    border-radius:10px;
}

.form-section h2{
    text-align:center;
    color:#4b0082;
    margin-bottom:20px;
}

label{
    display:block;
    margin-top:15px;
    font-weight:bold;
}

input,
select{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    margin-top:20px;
    width:100%;
    padding:12px;
    background:#4b0082;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#6a0dad;
}
